{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="row">
    {% include 'includes/carousel.html' %}
</div>

<div class="card text-center">
    <div class="card-body">
        <h4 class="card-title">Welcome to Green Thumb</h4>
        <h6 class="card-text">Your one-stop shop for all your gardening needs.</h6>
        <p class="card-text">Our website boasts a vast selection of garden flora, ideal for your flower beds, hanging pots, and patio
            planters. We offer a variety of Roses, Bamboos and Grasses, along with hedging and screening plants, and
            fruit trees like apples, pears, cherries, plums, and even figs. Additionally, we cultivate a wide array of
            hardy herbaceous perennials, ferns, shrubs, and climbers, with Clematis, Hydrangea, and Lavender Plants
            being among the top picks. You'll also find Palms, Buxus Box Topiary, Bay Trees, Olives, and Specimen
            plants. Altogether, we cultivate countless hardy plants at our Essex nursery, which spans over 14 acres.
            That's an immense amount of plants!
            From Garden Plants, Shrubs, Trees, Patio Plants and more, we're all about them. The pillars of our business
            are quality, service, and value for money. We operate our own nurseries and collaborate closely with other
            plant enthusiasts across the gardening community to bring you the finest new and exclusive plants, beloved
            classics, and the latest trends. We're proud to have been chosen to supply plants for high-profile RHS
            Flower Shows, BBC Gardeners World live, the Corporation of London, celebrity chefs, stately homes, and many
            others.</p>
    </div>
</div>

<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-sm-6 col-md-3">
            <div class="card bg-dark text-white">
                <img src="{{ MEDIA_URL }}placeholder_image.png" class="card-img" alt="Garden Plants">
                <div class="card-img-overlay">
                    <h5 class="card-title">Recently Added</h5>
                    <a href="{% url 'products' %}?sort_by=recent" class="btn btn-light">Shop Now</a>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-md-3">
            <div class="card bg-dark text-white">
                <img src="{{ MEDIA_URL }}placeholder_image.png" class="card-img" alt="House Plants">
                <div class="card-img-overlay">
                    <h5 class="card-title">Highest Rated</h5>
                    <a href="{% url 'products' %}?sort_by=highest_rating" class="btn btn-light">Shop Now</a>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-md-3">
            <div class="card bg-dark text-white">
                <img src="{{ MEDIA_URL }}placeholder_image.png" class="card-img" alt="Seeds">
                <div class="card-img-overlay">
                    <h5 class="card-title">Best Sellers</h5>
                    <a href="{% url 'products' %}?sort_by=best_selling" class="btn btn-light">Shop Now</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}