{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="row">
    {% include 'includes/carousel.html' %}
</div>

<div class="card text-center">
    <div class="card-body">
        <h5 class="card-title">Welcome to Green Thumb</h5>
        <p class="card-text">Your one-stop shop for all your gardening needs.</p>
    </div>
</div>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-sm-6 col-md-3">
            <div class="card bg-dark text-white">
                <img src="{% static 'images/placeholder_image.png' %}" class="card-img" alt="Garden Plants">
                <div class="card-img-overlay">
                    <h5 class="card-title">Recently Added</h5>
                    <a href="#" class="btn btn-light">Shop Now</a>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-md-3">
            <div class="card bg-dark text-white">
                <img src="{% static 'images/placeholder_image.png' %}" class="card-img" alt="House Plants">
                <div class="card-img-overlay">
                    <h5 class="card-title">Best Sellers</h5>
                    <a href="#" class="btn btn-light">Shop Now</a>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-md-3">
            <div class="card bg-dark text-white">
                <img src="{% static 'images/placeholder_image.png' %}" class="card-img" alt="Seeds">
                <div class="card-img-overlay">
                    <h5 class="card-title">Highest Rated</h5>
                    <a href="#" class="btn btn-light">Shop Now</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}