{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container mt-5">
  <div class="row">
    <h1 class="text-center">Your Profile</h1>
    {% include 'profiles/profile_modals.html' %}
  </div>

  <hr>

  <div class="row">
    <div class="col-md-6 position-relative">
      <h2 class="text-center">Personal Information</h2>
      <i class="fas fa-edit position-absolute top-0 end-0 mt-2 me-2" data-bs-toggle="modal"
        data-bs-target="#personalInfoModal"></i>
      <p>Name: {{ user.first_name }} {{ user.last_name }}</p>
      <p>Email: {{ user.email }}</p>
    </div>
    <div class="col-md-6 border-start position-relative">
      <h2 class="text-center">Default Delivery Information</h2>
      <i class="fas fa-edit position-absolute top-0 end-0 mt-2 me-2" data-bs-toggle="modal"
        data-bs-target="#deliveryInfoModal"></i>
      <p>Phone Number: {{ user_profile.default_phone_number }}</p>
      <p>Street Address: {{ user_profile.default_street_address1 }} {{ user_profile.default_street_address2 }}</p>
      <p>Town or City: {{ user_profile.default_town_or_city }}</p>
      <p>County:
        {% if user_profile.default_county and user_profile.default_county != "none" %}{{ user_profile.default_county }}{% endif %}
      </p>
      <p>Postcode: {{ user_profile.default_postcode }}</p>
      <p>Country: {{ user_profile.default_country }}</p>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col-md-12">
      <h2>Order History</h2>
      {% if orders %}
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Order Number</th>
            <th scope="col">Order Date</th>
            <th scope="col">Line Items</th>
            <th scope="col">Order Total</th>
          </tr>
        </thead>
        <tbody>
          {% for order in orders %}
          <tr>
            <td><a href="{% url 'checkout_success' order.order_number 'profile' %}">{{ order.order_number }}</a>
            <td>{{ order.date }}</td>
            <td>
              {% for item in order.lineitems.all %}
              <p>{{ item.product.name }} {% if item.product_size %}(Size: {{ item.product_size }}){% endif %}
                (Quantity: {{ item.quantity }})</p>
              {% endfor %}
            </td>
            <td>{{ order.order_total }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% else %}
      <p>You have no previous orders.</p>
      {% endif %}
    </div>
  </div>


  <div class="row mt-5">
    <div class="col-md-12">
      <h2>Wishlist</h2>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Image</th>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col">Price</th>
          </tr>
        </thead>
        <tbody>
          {% for product in wishlist.products.all %}
          <tr>
            <td>
              {% if product.image %}
              <img src="{{ product.image.url }}" alt="{{ product.name }}" class="wishlist-image">
              {% else %}
              <img src="{{ MEDIA_URL }}placeholder_image.png" alt="{{ product.name }}" class="wishlist-image">
              {% endif %}
            </td>
            <td><a href="{% url 'product_detail' product.id %}">{{ product.name }}</a></td>
            <td>{{ product.description }}</td>
            <td>{{ product.price }}</td>
            <td>
              <a href="{% url 'profiles:remove_from_wishlist' product.id 'profile' %}">
                <i class="fa fa-trash"></i>
              </a>
            </td>
          </tr>
          {% empty %}
          <tr>
            <td colspan="5">No products in wishlist.</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>

{% endblock %}