{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container mt-5">
    <div class="row">
        <div class="col-md-6">
            <h2>Personal Information</h2>
            <p>Name: {{ user.first_name }} {{ user.last_name }}</p>
            <p>Email: {{ user.email }}</p>
            <!-- Add more personal information here -->
        </div>
        <div class="col-md-6">
            <h2>Default Delivery Information</h2>
            <!-- Add default delivery information here -->
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-md-12">
            <h2>Order History</h2>
            <!-- Add order history here -->
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-md-12">
            <h2>Wishlist</h2>
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Image</th>
                    <th scope="col">Name</th>
                    <th scope="col">Description</th>
                    <th scope="col">Price</th>
                  </tr>
                </thead>
                <tbody>
                  {% for product in wishlist.products.all %}
                  <tr>
                    <td><img src="{% static 'images/placeholder_image.png' %}" alt="{{ product.name }}" class="img-fluid wishlist-image"></td>
                    <td>{{ product.name }}</td>
                    <td>{{ product.description }}</td>
                    <td>{{ product.price }}</td>
                  </tr>
                  {% empty %}
                  <tr>
                    <td colspan="4">No products in wishlist.</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>              
        </div>
    </div>
</div>

{% endblock %}