{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container mt-5">
  <div class="row">
    <h1 class="text-center">Your Profile</h1>
    {% include 'profiles/profile_modals.html' %}
  </div>

  <hr>

  <div class="row">
    <div class="col-md-6 mt-3">
      <div class="position-relative">
        <h2 class="text-center">Personal Information</h2>
        <i class="fas fa-edit position-absolute top-0 end-0 mt-2 me-2" data-bs-toggle="modal"
          data-bs-target="#personalInfoModal"></i>
        <p>Name: {{ user.first_name }} {{ user.last_name }}</p>
        <p>Email: {{ user.email }}</p>
      </div>
      {% if user_profile.role == 'GR' %}
      <hr>
      <div class="position-relative">
        <h2 class="text-center">Gardener Profile</h2>
        <i class="fas fa-edit position-absolute top-0 end-0 mt-2 me-2" data-bs-toggle="modal"
          data-bs-target="#gardenerInfoModal"></i>
        <div class="row">
          <div class="col-md-6">
            <img src="{{ MEDIA_URL }}placeholder_image.png" alt="Profile Image"
              class="rounded-circle services-profile">
          </div>
          <div class="col-md-6 mt-3">
            <br>
            <p>Display Name: {{ user_profile.display_name }}</p>
            <p>Location: {{ user_profile.location }}</p>
            <p>About: {{ user_profile.about }}</p>
          </div>
        </div>
      </div>
      {% endif %}
    </div>
    <div class="col-md-6 border-start position-relative mt-3">
      <h2 class="text-center">Default Delivery Information</h2>
      <i class="fas fa-edit position-absolute top-0 end-0 mt-2 me-2" data-bs-toggle="modal"
        data-bs-target="#deliveryInfoModal"></i>
      <p>Phone Number: {{ user_profile.default_phone_number }}</p>
      <p>Street Address: {{ user_profile.default_street_address1 }} {{ user_profile.default_street_address2 }}</p>
      <p>Town or City: {{ user_profile.default_town_or_city }}</p>
      <p>County:
        {% if user_profile.default_county and user_profile.default_county != "none" %}{{ user_profile.default_county }}{% endif %}
      </p>
      <p>Postcode: {{ user_profile.default_postcode }}</p>
      <p>Country: {{ user_profile.default_country }}</p>
    </div>
  </div>
  <div class="text-center mt-4">
    <a href="{% url 'account_reset_password' %}" class="btn btn-warning">Change your Password</a>
    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteProfileModal">
      Delete Profile
    </button>
  </div>
</div>

{% endblock %}