/* General Styles */
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;
  background-repeat: no-repeat;
  background-size: cover;
}

.row {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

hr {
    color: #007B55;
}

.btn-danger {
    background-color: darkred;
}

.z-index-1 {
    z-index: 1;
}

.fa-star {
    color: gold;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

/* Toasts CSS */
.message-container {
    z-index: 99999999999;
}

.custom-toast {
    z-index: 99999999999;
    overflow: visible;
    position: fixed;
    top: 72px;
    right: 15px;
}

/* BASE.HTML CSS */
html, body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
    
}

a {
    color: #007B55; /* This is a deep green color, perfect for links */
}

.navbar {
    background-color: #B2DBBF !important; /* Light green for the navbar */
}

.navbar-toggler-icon {
    filter: invert(49%) sepia(99%) saturate(1368%) hue-rotate(109deg) brightness(96%) contrast(101%);
}

/* Search bar styling  */
input[type=text],
input[type=email],
input[type=file],
input[type=date],
input[type=checkbox],
.form-check-input:checked,
#subject,
#message, 
.form-select,
.textarea,
.subscribe-input {
    padding: 10px;
    margin: 5px 5px;
    box-sizing: border-box;
    background-color: #B2DBBF; /* Light green background for the search bar */
    border: solid;
    color: #007B55; /* A deep green color for the text in search bar */
}

span.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

/* Button styling */
.search-button {
    background-color: #007B55; /* A deep green color for buttons */
    color: #F1F5E6; /* Light color for the button text */
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 50%;
    position: relative; /* Additional property for positioning the icon */
}

.search-button:hover {
    background-color: #F1F5E6; 
    color: #007B55;
}

/* HOME CSS */
/* Carousel Element CSS */
.carousel-item img{
    width: 100%;
    height: 350px;
}

.carousel {
    padding: 0 !important;
}

.carousel-control-prev, .carousel-control-next {
    width: 30px; /* Adjust this value to change the width of the clickable area */
    height: 30px; /* Adjust this value to change the height of the clickable area */
    padding: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
}

.carousel-control-prev {
    left: 10px; /* Adjust this value to position the left control */
}

.carousel-control-next {
    right: 10px; /* Adjust this value to position the right control */
}

body.home-page {
    background-image: url(/static/images/wood-chips.jpg);
    object-fit: cover;
}

.home-card {
    height: 350px;  
    width: 100%; 
    overflow: hidden; 
}

.card-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.card-text a {
    color: #F1F5E6;
}

.intro-card {
    margin: 2rem;
    background-image: url(/static/images/card-background.jpg);
    background-size: contain;
    color: #F1F5E6;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0.7;
    background-color: rgba(128, 128, 128, 0.6);
}

/* NAVBAR CSS */
/* Main navigation styles */

.nav-row {
    background-color: #F1F5E6;
    --bs-gutter-x: 0 !important; 
    --bs-gutter-y: 0 !important;
}

.navbar-nav {
    font-size: 1rem;
}

.nav-link {
    color: #007B55;
    text-transform: capitalize;
}

.nav-link:hover, .nav-link:focus {
    color: #F1F5E6;
}

.top-nav-item:hover {
    background-color: #007B55;
}

.dropdown-menu {
    background-color: #B2DBBF; /* Light green background for the dropdown menu */
}

.dropdown-item {
    color: #007B55;
}

.dropdown-item:hover, .dropdown-item:focus {
    color: #F1F5E6;
    background-color: #007B55;
}

.nav-link-btn, 
.btn-primary {
    background-color: #007B55; 
    color: #F1F5E6; 
    border-radius: 5px; 
    padding: 10px 15px; 
    transition: background-color 0.3s ease;
    border-color: #007B55;
}

.nav-link-btn:hover, .nav-link-btn:focus, .btn-primary:hover, .btn-primary:focus {
    background-color: #F1F5E6; 
    color: #007B55; 
    border-color: #007B55 !important;
}

.navbar-toggler {
    top: 20px !important;
    left: 20px !important;
    padding: 0 !important;
    line-height: 0 !important;
    
}

.menu-button {
    text-align: center;
    color: #007B55;
    font-weight: bolder;
}

.navbar-expand-md {
    padding: 0 !important;
}

/* Top navigation styles */

.top-nav-row {
    --bs-gutter-x: 0 !important;
    margin-bottom: 18px;
    
}

.nav > li a {
    color: #007B55;
}

.nav > li a:hover, .nav > li a:focus {
    color: #F1F5E6;
}

.dropdown-menu {
    background-color: #B2DBBF; /* Light green background for the dropdown menu */
}

.dropdown-item {
    color: #007B55;
}

.dropdown-item:hover, .dropdown-item:focus {
    color: #F1F5E6;
    background-color: #007B55;
}

.account-dropdown {
    text-decoration: none;
    color: #007B55;
}

.account-dropdown:hover,
.account-dropdown:focus {
    text-decoration: none;
    color: #007B55;
}

h1.mb-0 {
    color: #007B55; /* Making the site name have the consistent green color */
}

.cart-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #007B55;
    color: #F1F5E6;
    width: 65px;
    height: 65px;
    text-decoration: none;
    font-size: 14px;
    padding: 5px;
}

.cart-button:hover {
    background-color: #F1F5E6;
    color: #007B55;
}

.cart-button:active {
    background-color: #F1F5E6;
    color: #007B55;
}

.cart-button i {
    margin-bottom: 2px;
}

.account-cart {
    flex-wrap: nowrap;
    position: absolute;
    right: 3px;
    padding-top: 15px;
    width: 250px;
}

.search-area {
    max-width: 35vw;
    align-items: center;
}

/* PRODUCTS CSS */

body.products-page.all-products {
    background-image: url(/static/images/leaves-image.jpg);
}

body.products-page.garden-plants {
    background-image: url(/static/images/garden-plants.jpg);
}

body.products-page.house-plants {
    background-image: url(/static/images/house-plants.jpg);
}

body.products-page.seeds {
    background-image: url(/static/images/seeds.jpg);
}

body.products-page.supplies {
    background-image: url(/static/images/supplies.jpg);
}

.products-container {
    background-color: rgba(241, 245, 230, 0.4);
}

.custom-select {
    appearance: auto;
    -webkit-appearance: menulist;
    -moz-appearance: menulist;
    color: #007B55;
    background-color: #F1F5E6;
}

.cart-card {
    background-color:#007B55;
    color:#F1F5E6;
}

.cart-card:hover {
    background-color: #F1F5E6;
    color: #007B55;
}

.cart-card:active {
    background-color: #F1F5E6;
    color: #007B55;
}

.justify-content-end form {
    padding: 5px;
}

label[for="id_sort_by"] {
    color:#007B55;
}

.sort-form {
    margin-left: 10px;
    margin-top: 20px;
    border-radius: 5px;
    border: none;
    background-color: #F1F5E6;
    color: #007B55;
}

.product-card {
    background-color: #B2DBBF;
}

body.add-products-page {
    background-image: url(/static/images/leaves-image.jpg);
}

/* PRODUCT_DETAIL CSS */

/* ToolTip Element CSS */
.tooltip-wrapper {
    position: relative;
    display: inline-block;
}

.tooltip-wrapper:hover .tooltip-content, .tooltip-content:hover {
    visibility: visible;
    opacity: 1;
}

.tooltip-content {
    visibility: hidden;
    width: 200px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    bottom: 125%; 
    left: 50%; 
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip-content::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}


/* PROFILE CSS */
.wishlist-image {
    max-width: 100px;
    max-height: 100px;
    object-fit: contain;
}

.fa-edit {
    color: #007B55;
    cursor: pointer;
}

.table {
    --bs-table-striped-bg: rgba(178, 219, 191, 0.6) !important;
    border-color: #007B55 !important;
}

/* SERVICES CSS */

body.services-page, 
body.gardener-page, body.feedback-page, body.service-request-page {
    background-image: url(/static/images/service-background.jpg);
    background-size: cover;
}

.services-container h2, .services-container hr {
    color: #F1F5E6;
}

.container-fluid {
    padding: 0 !important;
}

.hero-text, .gardener-card {
    background-color: rgba(255, 255, 255, 0.404);
}

.service-column {
    background-color: rgba(241, 245, 230, 0.6);
    padding: 20px;
}

.service-column button {
    margin-top: auto;
}

.services-profile {
    width: 200px !important;
    height: 200px !important;
}


/* CHECKOUT CSS */
span.icon {
    width: fit-content;
    height: fit-content;
}

.form-check, 
.form-check-input {
    padding-left: 0;
    margin-left: 0 !important;
}

/* CONTACT PAGE CSS */
body.contact-page {
    background-image: url(/static/images/supplies.jpg);
    object-fit: cover;
}

.contact-container {
    background-color: rgba(241, 245, 230, 0.6);
    padding: 1rem;
}

/* FOOTER CSS */
footer {
    background-color: #F1F5E6 !important; /* A deep green color for the footer */
    color:#007B55;
}

footer i {
    color: #007B55;
}

.d-flex span.text-muted {
    color: #007B55 !important;
}

.list-inline-item a {
    color:#007B55 !important;
}



/* MEDIA QUERIES */
@media only screen and (max-width: 1153px) {
    .nav-link-top {
        padding: 6px;
    }

    .search-button {
        width: 50px;
        height: 50px;
    }

    .search-area {
        max-width: 50vw;
    }
}

@media only screen and (max-width: 543px) {
    .account-dropdown {
        padding: 2px;
    }

    .account-dropdown-container {
        margin-right: 2px !important;
    }

    .cart-button {
        width: 50px;
        height: 50px;
    }

    .search-button {
        width: 30px;
        height: 30px;
    }
}
