{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
<div class="container mt-4">
    <h1 class="display-4">Oops! This page is lost in the weeds!</h1>
    <p class="lead">We couldn’t find the page you were looking for. It looks like it has been pruned or never planted.
    </p>
    <p>Let’s get you back on solid ground:</p>
    <ul>
        <li>Make sure the URL is spelled correctly.</li>
        <li>Head back to our <a href="{% url 'home' %}">home page</a> and start fresh.</li>
        <li>Search for what you need in our navigation menu.</li>
    </ul>
    <p>Why don’t you leaf your worries behind and explore our site?</p>
    <p>If you think something is truly amiss, feel free to <a href="{% url 'contact' %}">contact us</a>.</p>
    <p>Thanks for your thyme and patience!</p>
</div>
{% endblock %}