{% load static %}

<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">

    <div class="carousel-item active">
      <div class="card bg-dark text-white home-card">
          <img src="{{ MEDIA_URL }}recently-added.jpg" class="card-img" alt="Recently Added">
          <div class="card-img-overlay">
              <h5 class="card-title">Recently Added</h5>
              <a href="{% url 'products' %}?sort_by=recent" class="btn btn-light">Shop Now</a>
          </div>
      </div>
    </div>

    <div class="carousel-item">
      <div class="card bg-dark text-white home-card">
          <img src="{{ MEDIA_URL }}highest-rated.jpg" class="card-img" alt="Highest Rated">
          <div class="card-img-overlay">
              <h5 class="card-title">Highest Rated</h5>
              <a href="{% url 'products' %}?sort_by=highest_rating" class="btn btn-light">Shop Now</a>
          </div>
      </div>
    </div>

    <div class="carousel-item">
      <div class="card bg-dark text-white home-card">
          <img src="{{ MEDIA_URL }}best-sellers.jpg" class="card-img" alt="Best Selling">
          <div class="card-img-overlay">
              <h5 class="card-title">Best Sellers</h5>
              <a href="{% url 'products' %}?sort_by=best_selling" class="btn btn-light">Shop Now</a>
          </div>
      </div>
    </div>

  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>