<div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav me-auto">
        <li class="nav-item">
            <a class="nav-link" href="{% url 'products' %}">All Products</a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Garden Plants
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown1">
                <li><a class="dropdown-item" href="{% url 'products_by_category' 'garden-plants' %}">All Garden
                        Plants</a></li>
                <li><a class="dropdown-item" href="{% url 'products_by_category' 'perennial-plants' %}">Perennial
                        Plants</a></li>
                <li><a class="dropdown-item" href="{% url 'products_by_category' 'shrubs-trees' %}">Shrubs & Trees</a>
                </li>
                <li><a class="dropdown-item" href="{% url 'products_by_category' 'climbing-plants' %}">Climbing
                        Plants</a></li>
                <li><a class="dropdown-item" href="{% url 'products_by_category' 'bedding-plants' %}">Bedding
                        Plants</a></li>
                <li><a class="dropdown-item" href="{% url 'products_by_category' 'roses' %}">Roses</a></li>
                <li><a class="dropdown-item" href="{% url 'products_by_category' 'trees' %}">Trees</a></li>
                <li><a class="dropdown-item" href="{% url 'products_by_category' 'tropical-exotic' %}">Tropical &
                        Exotic Plants</a></li>
                <li><a class="dropdown-item" href="{% url 'products_by_category' 'pond-plants' %}">Pond Plants</a>
                </li>
            </ul>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                House Plants
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown2">
                <li><a class="dropdown-item" href="{% url 'products_by_category' 'house-plants' %}">All
                        House plants</a></li>
                <li><a class="dropdown-item" href="{% url 'products_by_category' 'foliage-plants' %}">Foliage
                        Plants</a></li>
                <li><a class="dropdown-item" href="{% url 'products_by_category' 'flowering-plants' %}">Flowering
                        Plants</a></li>
                <li><a class="dropdown-item" href="{% url 'products_by_category' 'carnivorous-plants' %}">Carnivorous
                        Plants</a></li>
                <li><a class="dropdown-item" href="{% url 'products_by_category' 'large-houseplants' %}">Large
                        House plants</a></li>
                <li><a class="dropdown-item" href="{% url 'products_by_category' 'pet-friendly' %}">Pet Friendly</a>
                </li>
                <li><a class="dropdown-item" href="{% url 'products_by_category' 'easy-care' %}">Easy Care</a></li>
            </ul>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown3" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Seeds
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown3">
                <li><a class="dropdown-item" href="{% url 'products_by_category' 'seeds' %}">All Seeds</a></li>
                <li><a class="dropdown-item" href="{% url 'products_by_category' 'flowers' %}">Flowers</a></li>
                <li><a class="dropdown-item" href="{% url 'products_by_category' 'vegetables' %}">Vegetables</a></li>
                <li><a class="dropdown-item" href="{% url 'products_by_category' 'herbs' %}">Herbs</a></li>
            </ul>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown4" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Supplies
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown4">
                <li><a class="dropdown-item" href="{% url 'products_by_category' 'supplies' %}">All Garden Supplies</a>
                </li>
                <li><a class="dropdown-item" href="{% url 'products_by_category' 'tools' %}">Tools</a></li>
                <li><a class="dropdown-item" href="{% url 'products_by_category' 'bird-care' %}">Bird Care</a></li>
                <li><a class="dropdown-item" href="{% url 'products_by_category' 'pest-control' %}">Pest Control</a>
                </li>
                <li><a class="dropdown-item" href="{% url 'products_by_category' 'planters-pots' %}">Planters & Pots</a>
                </li>
                <li><a class="dropdown-item" href="{% url 'products_by_category' 'clothing' %}">Clothing</a></li>
                <li><a class="dropdown-item" href="{% url 'products_by_category' 'furniture' %}">Furniture</a></li>
            </ul>
        </li>
        <li class="nav-item">
            <a class="nav-link nav-link-btn" href="{% url 'services' %}" role="button">
                Services
            </a>
        </li>
    </ul>
    <div class="d-block d-md-none">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'home' %}">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'about' %}">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'contact' %}">Contact</a>
            </li>
            {% if user.is_authenticated and user.is_superuser %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'add_product' %}">Add Products</a>
            </li>
            {% endif %}
        </ul>
    </div>
</div>