<div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav me-auto">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Garden Plants
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="{% url 'products' %}">All Garden Plants</a></li>
                <li><a class="dropdown-item" href="#">Perrenial Plants</a></li>
                <li><a class="dropdown-item" href="#">Shrubs & Trees</a></li>
                <li><a class="dropdown-item" href="#">Climbing Plants</a></li>
                <li><a class="dropdown-item" href="#">Bedding Plants</a></li>
                <li><a class="dropdown-item" href="#">Roses</a></li>
                <li><a class="dropdown-item" href="#">Trees</a></li>
                <li><a class="dropdown-item" href="#">Tropical & Exotic Plants</a></li>
                <li><a class="dropdown-item" href="#">Pond Plants</a></li>
                <!-- Add more categories as needed -->
            </ul>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                House Plants
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#">All Houseplants</a></li>
                <li><a class="dropdown-item" href="#">Foliage Plants</a></li>
                <li><a class="dropdown-item" href="#">Flowering Plants</a></li>
                <li><a class="dropdown-item" href="#">Carnivorous Plants</a></li>
                <li><a class="dropdown-item" href="#">Large Houseplants</a></li>
                <li><a class="dropdown-item" href="#">Pet-Friendly Houseplants</a></li>
                <li><a class="dropdown-item" href="#">Easy-Care Houseplants</a></li>
                <!-- Add more categories as needed -->
            </ul>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Seeds
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#">All Seeds</a></li>
                <li><a class="dropdown-item" href="#">Flowers</a></li>
                <li><a class="dropdown-item" href="#">Vegetables</a></li>
                <li><a class="dropdown-item" href="#">Herbs</a></li>
                <!-- Add more categories as needed -->
            </ul>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Supplies
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#">All Garden Supplies</a></li>
                <li><a class="dropdown-item" href="#">Tools</a></li>
                <li><a class="dropdown-item" href="#">Bird Care</a></li>
                <li><a class="dropdown-item" href="#">Pest Control</a></li>
                <li><a class="dropdown-item" href="#">Planters & Pots</a></li>
                <li><a class="dropdown-item" href="#">Gloves</a></li>
                <li><a class="dropdown-item" href="#">Furniture</a></li>
                <!-- Add more categories as needed -->
            </ul>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Services
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#">All Services</a></li>
                <li><a class="dropdown-item" href="#">Landscaping</a></li>
                <li><a class="dropdown-item" href="#">Lawn Cutting</a></li>
                <li><a class="dropdown-item" href="#">Holiday Cover</a></li>
                <li><a class="dropdown-item" href="#">Seasonal Care</a></li>
                <!-- Add more categories as needed -->
            </ul>
        </li>
    </ul>
</div>