<div class="row no-gutters align-items-center top-nav-row">
    <div class="col-md-4">
        <div class="d-none d-md-block">
            <ul class="nav ps-3">
                <li class="nav-item top-nav-item">
                    <a class="nav-link nav-link-top" href="{% url 'home' %}">Home</a>
                </li>
                <li class="nav-item top-nav-item">
                    <a class="nav-link nav-link-top" href="{% url 'about' %}">About</a>
                </li>
                <li class="nav-item top-nav-item">
                    <a class="nav-link nav-link-top" href="{% url 'contact' %}">Contact</a>
                </li>
                {% if user.is_authenticated and user.is_superuser %}
                <li class="nav-item top-nav-item">
                    <a class="nav-link nav-link-top" href="{% url 'add_product' %}">Add Products</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
    <div class="col-md-4 text-center position-relative">
        <button class="navbar-toggler position-absolute d-block d-md-none menu-button" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false"
            aria-label="Toggle navigation">
            Menu
        </button>
        <h1 class="mb-0">Green Thumb</h1>
    </div>
    <div class="col-md-4 text-end d-flex align-items-center justify-content-end account-cart">
        <div class="dropdown account-dropdown-container me-3">
            <button class="btn btn-link dropdown-toggle account-dropdown" type="button" id="dropdownMenuButton"
                data-bs-toggle="dropdown" aria-expanded="false">
                <span class="d-md-none"><i class="fas fa-user"></i></span>
                <!-- Font Awesome icon for smaller screens -->
                <span class="d-none d-md-inline">My Account</span> <!-- Text for larger screens -->
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <!-- Check if user is authorized -->
                {% if user.is_authenticated %}
                <li><a class="dropdown-item" href="{% url 'profiles:profile' %}">My Profile</a></li>
                <li><a class="dropdown-item" href="{% url 'profiles:order_history' %}">Order History</a></li>
                <li><a class="dropdown-item" href="{% url 'profiles:wishlist' %}">Wishlist</a></li>
                <li><a class="dropdown-item" href="{% url 'profiles:customer_service_requests' %}">Customer Service
                        Requests</a></li>
                <li><a class="dropdown-item" href="{% url 'profiles:service_requests' %}">Gardening Requests</a></li>
                <li><a class="dropdown-item" href="{% url 'account_logout' %}">Logout</a></li>
                {% else %}
                <li><a class="dropdown-item" href="{% url 'account_login' %}">Login</a></li>
                <li><a class="dropdown-item" href="{% url 'register' %}">Register</a></li>
                {% endif %}
            </ul>
        </div>
        <a class="cart-button" href="{% url 'cart_view' %}">
            <i class="fas fa-shopping-cart"></i>
            <p class="my-0">
                {% if grand_total %}
                ${{ grand_total|floatformat:2 }}
                {% else %}
                $0.00
                {% endif %}
            </p>
        </a>
    </div>
</div>