<div class="row align-items-center">
    <div class="col-md-4">
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" href="#">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Help</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Contact</a>
            </li>
        </ul>
    </div>
    <div class="col-md-4 text-center">
        <h1 class="mb-0">Green Thumb</h1>
    </div>
    <div class="col-md-4 text-end">
        <a class="btn btn-link" href="#">Login</a>
        <a class="btn btn-link" href="#">Register</a>
        <a class="btn btn-link" href="#"><i class="fas fa-shopping-bag"></i></a>
    </div>
</div>