{% extends "base.html" %}
{% load static %}
{% load allauth i18n %}
{% block head_title %}
{% trans "Sign Out" %}
{% endblock head_title %}
{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <div class="card mt-5">
                <div class="card-body">
                    <h1 class="card-title">{% trans "Sign Out" %}</h1>
                    <p class="card-text">{% trans 'Are you sure you want to sign out?' %}</p>
                    {% url 'account_logout' as action_url %}
                    <form class="form" method="post" action="{{ action_url }}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-primary">{% trans 'Sign Out' %}</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}