{% extends "base.html" %}
{% load i18n allauth %}
{% block head_title %}
{% trans "Change Password" %}
{% endblock head_title %}
{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <div class="card mt-5">
                <div class="card-body">
                    <h1 class="card-title">
                        {% trans "Change Password" %}
                    </h1>
                    <p class="card-text login-text">
                        {% trans 'Your password is now changed.' %}
                    </p>
                    <a href="{% url 'home' %}">
                        <button class="btn btn-primary btn-lg">Return to Home</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}