{% extends "base.html" %}
{% load static %}
{% load allauth i18n %}
{% block head_title %}
{% trans "Signup" %}
{% endblock head_title %}
{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <div class="card mt-5">
                <div class="card-body">
                    <h1 class="card-title">{% trans "Sign Up" %}</h1>
                    <p class="card-text">{% blocktrans %}Already have an account? Then please <a
                            href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>
                    
                    <form class="form" method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-primary">{% trans "Sign Up" %}</button>
                    </form>
                    
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}