{% extends "base.html" %}
{% load static %}

{% block body_class %}add-products-page{% endblock %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container h-100">
    <div class="row h-100 justify-content-center align-items-center no-gutters m-3">
        <div class="col-12 col-md-9 shadow-lg d-flex align-items-center p-3">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title">Add a new product</h2>
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="row">
                            {% for field in form %}
                            <div class="col-12">
                                {{ field|as_crispy_field }}
                            </div>
                            {% endfor %}
                        </div>
                        <button class="btn btn-secondary" type="submit" aria-label="Submit">Submit</button>
                        <button class="btn btn-secondary" type="reset" aria-label="Clear">Clear</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}