{% extends "base.html" %}
{% load static %}

{% block body_class %}products-page
{% if category %}{% if category.parent %}{{ category.parent.name|slugify }}{% else %}{{ category.name|slugify }}{% endif %}{% else %}all-products{% endif %}{% endblock %}

{% block content %}

<div class="container products-container min-vh-100">
    <div class="row align-items-center mt-3 mb-3">
        <div class="col-md-6">
            <h3 class="mb-0">
                {% url 'products' as products_url %}
                {% if request.GET.q %}
                Your search results for "{{ request.GET.q }}"
                {% elif request.GET.sort_by == 'recent' %}
                Recently Added
                {% elif request.GET.sort_by == 'highest_rating' %}
                Highest Rated
                {% elif request.GET.sort_by == 'best_selling' %}
                Best Selling
                {% elif request.path == products_url %}
                All Products
                {% else %}
                {% if not category.parent %}All {% endif %}{{ category_name }}
                {% endif %}
            </h3>
        </div>
        <div class="col-md-6 d-flex justify-content-end">
            <form method="get">
                {{ form.as_p }}
            </form>
        </div>
    </div>

    <div class="row">
        {% if not products %}
        {% if request.GET.q %}
        <h4>There are no results matching your search</h4>
        {% else %}
        <h4>No products in this category</h4>
        {% endif %}
        {% else %}
        {% for product in products %}
        <div class="col-md-4">
            <div class="card mb-4 shadow-lg product-card">
                <a href="{% url 'product_detail' product.id %}"
                    class="text-decoration-none text-dark product-detail-link">
                    {% if product.image %}
                    <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                    {% else %}
                    <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}placeholder_image.png"
                        alt="{{ product.name }}">
                    {% endif %}
                    <div class="m-2">
                        <h5 class="card-title">{{ product.name }}</h5>
                    </div>
                </a>
                <div class="card-body">
                    <p class="card-text"><i class="fas fa-star"></i> {{ product.calculate_rating }}</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <small class="text-muted">${{ product.price }}</small>
                        <form method="post" action="{% url 'add_to_cart' product.id %}"
                            class="d-flex justify-content-end">
                            {% csrf_token %}
                            <input type="hidden" name="quantity" value="1">
                            <input type="hidden" name="from_product_page" value="false">
                            {% if product.has_size %}
                            <select class="form-control rounded-0 mr-2 custom-select" name="product_size">
                                <option value="xs">XS</option>
                                <option value="s">S</option>
                                <option value="m" selected>M</option>
                                <option value="l">L</option>
                                <option value="xl">XL</option>
                            </select>
                            {% endif %}
                            <button type="submit" class="btn btn-sm btn-outline-secondary cart-card">
                                <i class="fas fa-shopping-cart"></i>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        {% endif %}
    </div>
</div>

{% endblock %}