{% extends "base.html" %}
{% load static %}

{% block body_class %}gardener-page{% endblock %}

{% block content %}

<div class="container py-5">
    <div class="row">
        <div class="col-md-12">
            <a href="{% url 'services' %}" class="btn btn-secondary mb-3">Back to Services</a>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8 mx-auto">
            <div class="card gardener-card">
                <div class="card-body text-center">
                    {% if gardener.profile_image %}
                        <img class="rounded-circle services-profile img-fluid mb-3"
                             src="{{ gardener.profile_image.url }}" 
                             alt="{{ gardener.user.username }}" width="150">
                    {% else %}
                        <img class="rounded-circle services-profile img-fluid mb-3"
                             src="{{ MEDIA_URL }}placeholder_image.png" 
                             alt="{{ gardener.user.username }}" width="150">
                    {% endif %}
                    <h3 class="card-title">{{ gardener.display_name }}</h3>
                    <h4 class="card-subtitle mb-3">{{ gardener.location }}</h4>
                    <p class="card-text">{{ gardener.about }}</p>
                    <p class="card-text">Average Rating: {{ gardener.calculate_rating }}</p>
                </div>
            </div>
            <div class="mt-5">
                <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
                    {% for feedback in feedbacks %}
                    <div class="col">
                        <div class="card h-100">
                            <div class="card-body">
                                <h5 class="card-title">{{ feedback.first_name }}</h5>
                                <h6 class="card-subtitle mb-2 text-muted">{{ feedback.title }}</h6>
                                <p class="card-text">{{ feedback.message }}</p>
                                <p class="card-text"><small class="text-muted">{{ feedback.rating }}/5 <i
                                            class="fas fa-star"></i></small></p>
                            </div>
                        </div>
                    </div>
                    {% empty %}
                    <p>No feedback yet.</p>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}