{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 p-0">
            <div class="hero-image d-flex align-items-center">
                <div class="hero-text p-3">
                    <h1>Welcome to Green Thumb gardening services</h1>
                    <p>Lawn mowing, flowerbed clearing, leaf raking, and fruit tree pruning? We assist you whether it's
                        for individual tasks or a subscription for the entire season</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container services-container py-5">
    <div class="row">
        <div class="col-12 text-center mb-5">
            <h2>Our Services</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 col-md-3 d-flex flex-column text-center service-column">
            <h5>Gardening</h5>
            <div class="text-left">
                <p>What does this include?</p>
                <ul>
                    <li>Tree Pruning</li>
                    <li>Hege Trimming</li>
                    <li>Weed Control</li>
                    <li>Irrigation</li>
                </ul>
            </div>
            <button class="btn btn-primary mt-auto">Get a Quote</button>
        </div>
        <div class="col-sm-6 col-md-3 d-flex flex-column text-center service-column">
            <h5>Lawn Care</h5>
            <div class="text-left">
                <p>What does this include?</p>
                <ul>
                    <li>Cutting Grass</li>
                    <li>Lawn renewal</li>
                    <li>Landscaping</li>
                </ul>
            </div>
            <button class="btn btn-primary mt-auto">Get a Quote</button>
        </div>
        <div class="col-sm-6 col-md-3 d-flex flex-column text-center service-column">
            <h5>Holiday Service</h5>
            <div class="text-left">
                <p>What does this include?</p>
                <ul>
                    <li>We mow and water the lawn.</li>
                    <li>We water flower beds and flowerpots.</li>
                    <li>We move objects around to signal that someone is home.</li>
                </ul>
            </div>
            <button class="btn btn-primary mt-auto">Get a Quote</button>
        </div>
        <div class="col-sm-6 col-md-3 d-flex flex-column text-center service-column">
            <h5>Seasonal Care</h5>
            <div class="text-left">
                <p>What does this include?</p>
                <ul>
                    <li>Spring cleaning</li>
                    <li>Autumn Cleaning</li>
                </ul>
            </div>
            <button class="btn btn-primary mt-auto">Get a Quote</button>
        </div>
    </div>
</div>

<div class="container gardener-container py-5">
    <div class="row">
        <div class="col-12 text-center mb-5">
            <h2>Meet our gardeners</h2>
        </div>
    </div>
    <div class="row text-center justify-content-center">
        {% for gardener in gardeners %}
        <div class="col-sm-6 col-md-2 m-2">
            <p>{{ gardener.display_name }}</p>
            <a href="{% url 'profiles:gardener_profile' username=gardener.user.username %}"><img src="{% static 'images/placeholder_image.png' %}" class="rounded-circle services-profile"
                    alt="John"></a>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}