{% extends 'base.html' %}
{% load static %}

{% block body_class %}services-page{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 p-0">
            <div class="hero-image d-flex align-items-center">
                <div class="hero-text p-3">
                    <h1>Welcome to Green Thumb gardening services</h1>
                    <p>Lawn mowing, flowerbed clearing, leaf raking, and fruit tree pruning? We assist you whether it's
                        for individual tasks or a subscription for the entire season</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container services-container p-3 mt-3 service-column">
    <div class="row">
        <div class="col-12 text-center mb-5">
            <h2>Our Services</h2>
        </div>
    </div>
    <div class="row g-6">
        <div class="col-sm-6 col-md-3 d-flex flex-column text-center">
            <h5>Gardening</h5>
            <div class="text-left">
                <p>What does this include?</p>
                <ul>
                    <li>Tree Pruning</li>
                    <li>Hege Trimming</li>
                    <li>Weed Control</li>
                    <li>Irrigation</li>
                </ul>
            </div>
        </div>
        <div class="col-sm-6 col-md-3 d-flex flex-column text-center">
            <h5>Lawn Care</h5>
            <div class="text-left">
                <p>What does this include?</p>
                <ul>
                    <li>Cutting Grass</li>
                    <li>Lawn renewal</li>
                    <li>Landscaping</li>
                </ul>
            </div>
        </div>
        <div class="col-sm-6 col-md-3 d-flex flex-column text-center">
            <h5>Holiday Service</h5>
            <div class="text-left">
                <p>What does this include?</p>
                <ul>
                    <li>We mow and water the lawn.</li>
                    <li>We water flower beds and flowerpots.</li>
                    <li>We move objects around to signal that someone is home.</li>
                </ul>
            </div>
        </div>
        <div class="col-sm-6 col-md-3 d-flex flex-column text-center">
            <h5>Seasonal Care</h5>
            <div class="text-left">
                <p>What does this include?</p>
                <ul>
                    <li>Spring cleaning</li>
                    <li>Autumn Cleaning</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12 text-center mt-2 mb-5">
        <a href="{% url 'service_request' %}">
            <button class="btn btn-primary btn-lg">Request a Quote Today!</button>
        </a>
    </div>
</div>

<div class="container gardener-container p-3">
    <div class="row">
        <div class="col-12 text-center mb-5">
            <h2>Meet our gardeners</h2>
        </div>
    </div>
    <div class="row text-center justify-content-center">
        {% for gardener in gardeners %}
        <div class="col-lg-3 col-md-4 col-sm-12 col-6 p-2">
            <h4>{{ gardener.display_name }}</h4>
            <a href="{% url 'gardener_profile' username=gardener.user.username %}"><img
                    src="" class="gardener-image"
                    alt="John"></a>
        </div>
        {% endfor %}
    </div>
    <div class="col-12 text-center mt-5">
        <a href="{% url 'gardener_feedback' %}" class="btn btn-primary">Leave Gardener Feedback</a>
    </div>
</div>
{% endblock %}